.container-fluid
  .row{:style => "margin-top:20px;"}
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-body
          .row
            .col-md-2.col-sm-4.col-xs-4
              %img.img-responsive{:src => @user.image.url(:medium), :class => "img-thumbnail"}
            .col-md-6
              %h3= @user.name
              // Amounts of dishes and places user likes
              %h5
                = @user.votes.where(votable_type: "Place").count
                Places liked
              %h5
                = @user.votes.where(votable_type: "MenuItem").count
                Dishes liked
      .panel.panel-default
        .panel-heading
          %h3.panel-title Places
        .panel-body
          - @user.votes.where(votable_type: "Place").map(&:votable).each do |place|
            = link_to place do
              = image_tag place.image.url(:thumb)
      .panel.panel-default
        .panel-heading
          %h3.panel-title Dishes
        .panel-body
          - @user.votes.where(votable_type: "MenuItem").map(&:votable).each do |mi|
            - place = mi.place
            = link_to place do
              = image_tag mi.image.url(:thumb)


