.panel.panel-default.map-control-panel#comments-panel
  .panel-heading
    .row
      .col-md-12
        = render 'shared/controls/time_mode_select'
  .panel-body{:style => "padding-top:0px;"}
    %table.table.js-dynamic-table#comments-table
      %tbody
        %tr
          %td{colspan: 3}
            %em.text-grey No comments yet
  - if user_signed_in?
    = form_for [@place, Comment.new], html: {class: 'form comments-form'} do |f|
      .form-group.col-md-10.col-md-offset-1
        = f.text_area :comment, placeholder: "Type comment here", class: 'form-control'
      .form-group
        = f.submit "Comment", class: 'btn btn-sm btn-primary btn-outline col-md-offset-9 col-sm-offset-7'
        .col-md-6.col-md-offset-1
          %span.js-symbols-remaining 140
          symbols remaining
      .clearfix

:javascript
  $(function() {
    var maxLength = 140;
    $('#comment_comment').on('keyup', function() {
      var comment = $('#comment_comment').val().substr(0, maxLength);
      $('#comment_comment').val(comment);
      $('.js-symbols-remaining').text(maxLength - comment.length);
    });
  });
= render 'shared/comments_row_template'
