.panel.panel-default.map-control-panel#menu-items-panel
  .panel-heading
    .row
      .col-md-12
        = render 'shared/controls/time_mode_select'
        - if user_signed_in?
          %button.btn.btn-sm.btn-danger.btn-outline.pull-right#new-menu-item Add Dish
  .panel-body
    - if user_signed_in?
      = form_for [@place, MenuItem.new], html: {class: 'form menu-items-form', style: 'display:none;'} do |f|
        .form-group.col-md-10.col-md-offset-1
          %label.control-label Name
          = f.text_field :name, placeholder: 'Name', class: 'form-control'
        .form-group.col-md-10.col-md-offset-1
          %label.control-label Price
          = f.text_field :price, placeholder: 'Ex: 10.50', class: 'form-control'
        .form-group.col-md-10.col-md-offset-1
          %label.control-label Description
          = f.text_area :description, placeholder: 'Description', class: 'form-control'
        .form-group.col-md-10.col-md-offset-1
          %label.control-label Image
          = f.file_field :image
        .form-group
          = f.submit "Add Dish", class: 'btn btn-sm btn-primary btn-outline col-md-offset-9 col-sm-offset-7'
        .clearfix

    %table.table.js-dynamic-table#menu-items-table
      %tbody

:javascript
  $(document).ready(function() {
    $('.menu-items-form').bootstrapValidator({
      fields: {
        "menu_item[price]": {
          message: "Menu Item Price is not valid",
          validators: {
            between: {
              min: 0.1,
              max: 10000.0,
              message: "price is not in range"
            },
            notEmpty: {
              message: "please enter price"
            }
          }
        },
        "menu_item[name]": {
          message: "Menu Item Name is not valid",
          validators: {
            notEmpty: {
              message: "please enter name"
            }
          }
        }
      }
    });
  });
= render 'shared/menu_items_row_template'
