= render 'preload_images'
.container-fluid
  .row
    .col-sm-7{:style => "padding-left:0px;padding-right:0px;"}
      .panel.panel-default
        %div{:style => "width: 100%"}
          #map
    .col-sm-5{:style => "padding-left:0px;padding-right:0px;"}
      .panel.panel-default.map-control-panel
        .panel-heading
          .row
            .col-md-12
              %ul.nav.nav-tabs{role: :tablist}
                %li.active
                  %a{href: '#places-pane', role: :tab, data: {toggle: :tab}} Places
                %li
                  %a{href: '#dishes-pane', role: :tab, data: {toggle: :tab}} Dishes
                .pull-right
                  = render 'shared/controls/time_mode_select'
                  = render 'shared/controls/price_select'
                  = render 'shared/controls/cuisine_select' 
        .panel-body{:style => "padding:0px;"}
          .tab-content
            #places-pane.tab-pane.active
              %table.table.table-condensed.js-dynamic-table#places-table
              %a.btn.btn-sm.btn-outline.btn-primary.btn-block.js-more-places.hidden{:style => "margin-left:10px;margin-bottom:10px;"} Load More
            #dishes-pane.tab-pane
              %table.table.table-condensed.js-dynamic-table#dishes-table
              %a.btn.btn-outline.btn-primary.btn-block.js-more-dishes.hidden{:style => "margin-left:10px;margin-bottom:10px;"} Load More

= render 'shared/places_row_template'
= render 'shared/menu_items_row_template'

- if @lat && @long
  - content_for :scripts do
    :javascript
      window.latitude = #{@lat};
      window.longitude = #{@long};
