.container
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-body.test
          .panel-title{:style => "font-size:22px; margin-top:5px; margin-left:10px;"}
            = current_city
        %div{:style => "width: 100%"}
          #map{:style => "width: 100%; height: 327px;"}
        .panel-heading{:style => "background:#fff;"}
          .row
            .col-md-5
              .btn-group
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  Now
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Today
                  %li
                    %a{:href => "#"} Week
                  %li
                    %a{:href => "#"} Month
                  %li.divider
                  %li
                    %a{:href => "#"} All
              %button.btn.btn-default.fa.fa-cutlery
              %button.btn.btn-default.fa.fa-beer
              %button.btn.btn-default.fa.fa-music
      .panel.panel-default
        %table.table
          %tbody
            - @places.each_with_index do |place,i|
              %tr
                %td
                  %strong= (i+1)
                  %span.btn.btn-sm.btn-default.glyphicon.glyphicon-chevron-up
                    10
                  %span{:style => "font-size:16px;margin-left:5px;margin-top:5px;"}
                    = link_to place.title, place, :class => "place"
                %td $4.50

- content_for :scripts do
  :javascript
    window.latitude = #{@lat};
    window.longitude = #{@long};
    console.log(#{raw @hash.to_json});
