%nav.navbar.navbar-default.fixed-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("http://i.imgur.com/nyh8EDe.png", size: "170x45"), root_path, class: "navbar-brand", style: "padding-top:3px;"
    .div.navbar-form.navbar-left
      .form-group
        .input-group
          - if params[:controller] == "places" and params[:action] == "index"
            .btn.btn.input-group-addon#current-location.fa.fa-location-arrow
            %input#place-search.form-control{type: "text", placeholder: "City or Neighborhood", style: "width:100%;"}
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            %a{style: "cursor: pointer;", data: {toggle: "modal", target: "#add-place-modal"}} Add Restaurant
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %img.img-responsive{:src => current_user.image.url(:small), :style => "width:25px;height:25px;padding:0px;display:inline-block;border-radius:4px;"}
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to('Profile', user_path(current_user))
              %li= link_to('Settings', edit_user_registration_path)
              %li.divider
              %li= link_to('Logout', destroy_user_session_path, :method => :delete)
        - else
          %li= button_to "Log in", new_user_session_path, style: "margin-right:3px;", class: "btn btn-success navbar-btn btn-sm", :method => :get
